*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes rainbowTitle {
    
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img{
    width: 5%;
}

